<div class="home">

    <h1>Flique</h1>
    
    <button onClick="window.location.href = '/login';" id="loginLink">Login</button>

    <div id="movie-list">
        <h2>Trending Movies</h2>
        <ul>
            {{#each data.trending}}
                    <li>
                        <div class = "movie-display">
                            <a href="/public/movie/{{this.id}}"><img src=https://image.tmdb.org/t/p/w500{{this.poster_path}} alt=""></a>
                        </div>   
                    </li>
            {{/each}}
        </ul>
    </div>
    

    <br>

    <div id = "discussion-list">
        <h2>Recent Discussions</h2>
        <ul>
            {{#each data.recentDiscussions}}
                    <li>
                        <a href="/public/discussion/{{this._id}}">{{this.discussionTitle}}</a>
                    </li>
            {{/each}}
        </ul>
    </div>
   


    <style>
        .movie-display img
        {
            width: 10%;
            height: 10%;
        }
    </style>

    <script src="homeJs.js"></script>

</div>
