<div>
    <p class="notFound">We're sorry, but no profiles were found using that username and/or password."</p>
    <br>
    <p>Please try again.</p>
    <form action="/login" method="POST" id="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br><br>
        <input type="submit">
    </form>
    <!--<button onClick="window.location.href = '../';" id="loginLink">Try Again</button>-->
    <!--<a href="../">Try Again</a>-->
</div>