<div class="home">
    <h1 class = 'center-text'>Search</h1>

    <form id="searchForm">
        <label for="search_term"></label>
        <input type="text" id="search_term" required>
        <button id="searchBtn" class="btn btn-primary">Search</button>
    </form>

    <a href="/" class = 'home-btn'><h1>Back To Home</h1></a> 

    <!--add the rest-->
    <ul id = "movie-search">
        {{#each data.trending}}
                <li class = 'movie-li'>
                    <div class = "movie-display">
                        <a href="/public/movie/{{this.id}}"><img src=https://image.tmdb.org/t/p/w500{{this.poster_path}} alt="{{this.title}}"></a>
                    </div>   
                </li>
        {{/each}}
    </ul>

    <script src="/search.js"></script>


</div>
