<div class="home">
    <h1>Search</h1>

    <form id="searchForm">
        <label for="search_term"></label>
        <input type="text" id="search_term" required>
        <button id="searchBtn">Search</button>
    </form>

    <button onClick="window.location.href = '/';" id="home-btn">Back to Home</button>

    <!--add the rest-->
    <ul>
        {{#each data.trending}}
                <li>
                    <div class = "movie-display">
                        <a href="/public/movie/{{this.id}}"><img src=https://image.tmdb.org/t/p/w500{{this.poster_path}} alt=""></a>
                    </div>   
                </li>
        {{/each}}
    </ul>

    <br>

   <ul>
        {{#each data.recentDiscussions}}
                <li>
                    <a href="/private/discussion/{{this._id}}">{{this.discussionTitle}}</a>
                </li>
        {{/each}}
    </ul>

    <style>
        .movie-display img
        {
            width: 10%;
            height: 10%;
        }
    </style>

    <script src="/search.js"></script>


</div>
