<div id="page">

<h1>Sign Up</h1>

<h2 id="error-msg">{{error}}</h2>

<form action="/signup" method="POST">
    <label for="userName">Username</label>
    <input type="text" name = "userName" id = "userName" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="firstName">First Name</label>
    <input type="text" name = "firstName" id = "firstName" required>

    <label for="lastName">Last Name</label>
    <input type="text" name= "lastName" id="lastName" required>

    <label for="Email">Email</label>
    <input type="text" name = "Email" id="Email" required>

    <label for="City">City</label>
    <input type="text" name = "City" id = "City" required>

    <label for="State">State</label>
    <input type="text" name = "State" id="State" required>

    <label for="Age">Age</label>
    <input type="number" name = "Age" id="Age" required>

    <input type="submit" id="submit-button">
</form>

</div>