<div id="page">

    <p class="notFound">{{error}}</p>

    <a href="/" class = 'home-btn'><h1>Back To Home</h1></a> 

    <h1 class = 'center-text'>Sign Up</h1>

    <div class = "flex-container">
        <form action="/signup" method="POST" class = 'form-flex'>
            <label for="userName">Username</label>
            <input type="text" name = "userName" id = "userName" required>

            <br>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>

            <br>

            <label for="firstName">First Name</label>
            <input type="text" name = "firstName" id = "firstName" required>

            <br>

            <label for="lastName">Last Name</label>
            <input type="text" name= "lastName" id="lastName" required>

            <br>

            <label for="Email">Email</label>
            <input type="text" name = "Email" id="Email" required>

            <br>

            <label for="City">City</label>
            <input type="text" name = "City" id = "City" required>

            <br>

            <label for="State">State</label>
            <input type="text" name = "State" id="State" required>

            <br>

            <label for="Age">Age</label>
            <input type="number" name = "Age" id="Age" required>

            <br>

            <input type="submit" id="submit-button" class="btn btn-primary">
        </form>
    </div>


</div>